.container{
    border: 3px solid #b0b96b;
    border-radius: 10px;
    background-color: #E2EE8C;
    width: 60%;
    padding: 20px;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
button{
    margin-top: 10px;
    
}
